@import "tailwindcss";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: auto;
}

@layer base {
  :root{
    /* Marca (PMS 202) */
    --brand-700: rgb(153, 0, 33);
    --brand-800: rgb(134, 38, 51);

    --bg-page:   rgb(255, 255, 255);  /* fondo general */
    --bg-coolgray-1: rgb(217, 217, 214); /*fondo gris claro*/
    --bg-coolgray-7: rgb(151, 153, 155); /*fondo gris */
    --bg-coolgray-11: rgb(83, 86, 90); /*fondo gris oscuro*/

    /* Sombras */
    --shadow-card:       0 25px 55px rgba(0,0,0,.15), 0 15px 25px rgba(0,0,0,.08);
    --shadow-card-hero:  0 60px 120px rgba(18,25,38,.28);
  }

  .bg-bg-page { background: var(--bg-page); }
}

@theme {
  --color-brand-700: var(--brand-700);
}

@layer components{
  .brand-title{
    @apply font-extrabold tracking-tight text-center uppercase;
    @apply text-2xl md:text-3xl;
    color: var(--brand-700);
  }

  .brand-label{
    @apply mb-2 font-bold;
    font-size: clamp(1.1rem, 0.9rem + 0.6vw, 1.35rem);
    color: var(--brand-700);
  }

  .brand-input-lg{
    @apply w-full rounded-xl border bg-white px-5 py-3.5 text-base md:text-lg outline-none border-gray-200 focus:ring-2;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.03);
    --tw-ring-color: color-mix(in oklab, var(--brand-700) 30%, transparent);
    border-color: color-mix(in oklab, var(--brand-700) 18%, #e5e7eb);
  }

  .brand-btn-primary{
    @apply w-full rounded-xl font-semibold text-white py-3.5 transition
           hover:brightness-110 active:scale-[.99] disabled:opacity-60;
    background: var(--brand-700);
  }

  .brand-link{ color: var(--brand-700); }
}
@utility brand-card-2xl {
  background: var(--bg-page);
  @apply rounded-3xl shadow-[var(--shadow-card-hero)];
}

@utility brand-input-2xl {
  @apply w-full rounded-2xl border border-gray-300 bg-white
         px-7 py-6 text-xl md:text-2xl
         text-gray-900 placeholder-gray-400
         focus:outline-none focus:border-brand-700 focus:ring-2 focus:ring-brand-700/20;
}

@utility brand-btn-2xl {
  @apply w-full rounded-2xl bg-brand-700 text-white font-semibold
         py-6 text-xl md:text-2xl hover:bg-brand-700/90 disabled:opacity-60;
}

.left-panel-bg {
  --left-strip-height: 100px;

  position: relative;
  overflow: hidden;
  background-color: var(--bg-page);
}

.left-panel-bg::before,
.left-panel-bg::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: var(--left-strip-height);
  pointer-events: none;
  z-index: 0;
}

.left-panel-bg::before {
  top: 0;
  background: linear-gradient(180deg, color-mix(in srgb, var(--bg-coolgray-7) 90%, transparent), transparent);
}

.left-panel-bg::after {
  bottom: 0;
  background: linear-gradient(180deg, transparent, color-mix(in srgb, var(--bg-coolgray-7) 90%, transparent));
}

.left-panel-bg img {
  position: relative;
  z-index: 1;
  background: transparent;
}

